
profiles {
    standard {
        docker {
            enabled = true
        }
    }
}

timeline {
  enabled = true
  file = "${params.output_dir}/${params.sample_id}/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.output_dir}/${params.sample_id}/report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.output_dir}/${params.sample_id}/trace.txt"
  overwrite = true
}
