
profiles {
    standard {
        docker {
            enabled = true
        }
    }
}

timeline {
  enabled = true
  file = "timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "trace.txt"
  overwrite = true
}
